DataFrame是由多个相同索引的Series组成(即是多维数组)

In [1]:
import pandas as pd
#import numpy as np

In [2]:
df1=pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.2,2.5,3.6,4.6,5.8]},index=list('一二三四五'))
df1

  col1  col2  col3
一    a     5   1.2
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

修改行，列名

In [6]:
df1.rename(index={'一':'one'},columns={'col1':'newcol1'})

    newcol1  col2  col3
one       a     5   1.2
二         b     6   2.5
三         c     7   3.6
四         d     8   4.6
五         e     9   5.8

In [7]:
df1.index

Index(['一', '二', '三', '四', '五'], dtype='object')

In [8]:
df1.values

array([['a', 5, 1.2],
       ['b', 6, 2.5],
       ['c', 7, 3.6],
       ['d', 8, 4.6],
       ['e', 9, 5.8]], dtype=object)

In [9]:
df1.shape

(5, 3)

In [10]:
df1.mean()

col2    7.00
col3    3.54
dtype: float64

DataFrame索引
loc索引，原则上能传入布尔列表和索引子集构成的列表

In [12]:
df1.loc['一']

col1      a
col2      5
col3    1.2
Name: 一, dtype: object

In [13]:
df1.loc[['一','三']]

  col1  col2  col3
一    a     5   1.2
三    c     7   3.6

In [14]:
df1.loc[['一','三']].head()

  col1  col2  col3
一    a     5   1.2
三    c     7   3.6

In [15]:
df1.loc[:,'col2'].head()

一    5
二    6
三    7
四    8
五    9
Name: col2, dtype: int64

In [16]:
df1.loc[:,['col2','col3']].head()

   col2  col3
一     5   1.2
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [24]:
df1.loc['三':'四',['col2','col3']].head()

   col2  col3
三     7   3.6
四     8   4.6

In [25]:
df1.loc['一':'三','col1':'col3']

  col1  col2  col3
一    a     5   1.2
二    b     6   2.5
三    c     7   3.6

混合索引不是很明白

In [26]:
df1[lambda x: x['col2']%2==0].head()

  col1  col2  col3
二    b     6   2.5
四    d     8   4.6

iloc索引，与loc的区别是，iloc不包含右端，loc左右端包含
iloc的参数只能为整数或整数列表或布尔列表，不能使用布尔Series

In [27]:
df1.iloc[2]

col1      c
col2      7
col3    3.6
Name: 三, dtype: object

In [28]:
df1.iloc[2:4]

  col1  col2  col3
三    c     7   3.6
四    d     8   4.6

In [30]:
df1.iloc[:,2].head()

一    1.2
二    2.5
三    3.6
四    4.6
五    5.8
Name: col3, dtype: float64

In [32]:
df1.iloc[:,0:-2].head()

  col1
一    a
二    b
三    c
四    d
五    e

In [34]:
df1.iloc[(df1['col1']=='c').values].head()

  col1  col2  col3
三    c     7   3.6

DataFrame的[]操作符
[]常用于列选择与布尔选择，尽量避免行的选择

In [35]:
df1[1:2]

  col1  col2  col3
二    b     6   2.5

In [38]:
row = df1.index.get_loc('四')
df1[row:row+1]

  col1  col2  col3
四    d     8   4.6

In [39]:
df1['col2'].head()

一    5
二    6
三    7
四    8
五    9
Name: col2, dtype: int64

布尔索引
& and, | or, ~ not

快速标题索引
当只需要取一个元素时，at和iat方法能够提供更快的实现

In [41]:
from IPython.core.display import display
display(df1.at['二','col3'])
display(df1.loc['二','col3'])
display(df1.iat[1,2])
display(df1.iloc[1,2])

2.5

2.5

2.5

2.5

区间索引 如：按成绩的区间进行成绩统计

In [ ]:
pd.interval_range(star=0,end=5)

In [ ]:
pd.interval_range(start=0,periods=8,freq=5,closed='both')
# close取值：left,right,both,neither
# start 开始
# end结束
# periods 区间的个数
# freq 步长

In [43]:
df2 = pd.read_excel(r'../data/table.xlsx',index_col='ID')
df2.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+